# Python cache
__pycache__/
*.pyc

# Environment
.venv/
env/
*.env

# OS
.DS_Store

# Data outputs
frames/
videos/
results/
captions/

# Model caches
.cache/
huggingface/
*.pt
caption_lora


lightning_logs
outputs